/*CSS reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  outline: 0px;
  padding: 0px;
}

/*Main rules*/
:root {
  --main-orange : rgb(200, 150, 50);
  --sub-text-color: gainsboro;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--sub-text-color);
}

mark {
  background: none;
  color: var(--main-orange);
}

.ask-us-button {
  position: fixed;
  z-index: 999;
  bottom: 3.6rem;
  right: 0;
  margin: 1rem;
  font-size: 4.1rem;
  text-align: center;
  color: var(--sub-text-color);
  opacity: 0.2;
  transition: 1s;
}

.ask-us-button:hover {
  opacity: 1;
}

/*Scroll top button*/
.move-top-button {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
  margin: 1rem;
  font-size: 3rem;
  text-align: center;
  width: 3.6rem;
  border: 2.5px solid var(--sub-text-color);
  border-radius: 50%;
  color: var(--sub-text-color);
  opacity: 0.2;
  transition: 1s;
}

.move-top-button:hover {
  opacity: 1;
}

/*Top menu section*/
.top-menu {
  position: fixed;
  width: 100%;
  color: white;
  animation-duration: 1s;
  z-index: 999;
  transition: 0.5s;
}

.top-menu-container {
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top-menu_logo-header {
  font-size: 3rem;
  font-family: 'Bangers', cursive, sans-serif;
  font-weight: 400;
  letter-spacing: 1rem;
}

.top-menu_logo-header a,
.top-menu_logo-header a:link,
.top-menu_logo-header a:visited{
  text-decoration: none;
  color: inherit;
}

.top-menu li, ul {
  display: inline-block;
}

.top-menu li:hover {
  color: var(--main-orange);
}

.top-menu_nav li:nth-of-type(even) {
  margin: 0 1rem;
}

.top-menu_nav-open-button {
  font-size: 2rem;
  display: none;
}

.top-menu_mobile-menu {
  display: none;
}

.top-menu_mobile-menu nav ul {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 10%;
}

.top-menu_mobile-menu nav ul li{
  margin: 0.3rem 0;
}

.top-menu_search {
  display: none;
  align-items: center;
  position: absolute;
  border: 1px solid gray;
  padding: 0.5rem;
  background: white;
  color: black;
  border-radius: 2rem;
}

.top-menu_search input {
  width: 100%;
  padding: 0.3rem;
  margin-right: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 2rem 0 0 2rem;
  outline: none;
}

/* Modal window */
.dark-frame {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation-name: appearAnimation;
  transition: 1s;
  animation-duration: 1s;
}

.modal {
  width: 75%;
  background: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 5px black;
}

.modal__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: lightskyblue;
  color: white;
}

.modal__body {
  padding: 1rem;
  height: 60vh;
  border-top: 1px solid gray;
  border-bottom: 1px solid lightgray;
}

.modal__textarea {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  resize: none;
  font-size: 1.5rem;
  border: 1px solid lightgray;
}

.modal__footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1rem;
}

.modal__close-button {
  padding: 0.5rem 2rem;
  border: 1px solid lightgray;
  background: white;
  border-radius: 0.3rem;
}

.modal__close-button:hover {
  background: lightgray;  
}

.modal__send-button {
  padding: 0.5rem 2rem;
  border: 1px solid lightgray;
  background: white;
  border-radius: 0.3rem;
}

.modal__send-button:hover {
  background: lightgray;  
}

/*Hero section*/
.hero-zone {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("../images/header-hero-image1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-align: center;
}

.hero-zone h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

.hero-zone p {
  font-size: 1rem;
  color: var(--sub-text-color);
}

.hero-zone button {
  align-self: center;
  width: fit-content;
  background: none;
  border: 2px solid var(--main-orange);
  color: inherit;
  margin-top: 2em;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.hero-zone button:hover {
  color: var(--main-orange);
}

/*Social info section*/
.social-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: calc(100vh - 3rem);
  width: 100%;
  height: 3rem;
  padding: 0 10%;
  box-sizing: border-box;
  color: var(--sub-text-color);
  font-size: 1.2rem;
  z-index: 1;
}

.social-info i{
  margin-right: 0.4rem;
}

.social-info i:hover{
  transform: scale(1.2);
}

.social-info i[title]{
  color: var(--main-orange);
}

.social-info_networks-logos a:visited,
.social-info_networks-logos a:link {
  color: var(--sub-text-color);
}

/*Content section*/
main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  padding: 1rem 2rem;
  transition: 1s;
  box-sizing: border-box;
}

.content-load-more-articles {
  text-align: center;
  color: gray;
  font-size: 2rem;
}

.content_article {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0;
  background: white;
  box-shadow: 0px 0px 5px gray;
  transition: 1s;
  opacity: 0;
}

.content_article .preview-hidden-text {
  display: none;
}

.content_article_close-button {
  visibility: hidden;;
  font-size: 1.5rem;
  color: gray;
}

.content_article-fullsize {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  margin: 2rem;
  background: white;
  box-shadow: 0px 0px 5px gray;
}

.content_article-fullsize .content_article_preview-text p:first-of-type::after {
  content: none;
}

.content_article-fullsize .content_article_preview-img img {
  display: none;
}

.content_article-fullsize .content_article_close-button {
  visibility: visible;
}

.content_article_preview-img {
 flex: 2;
}

.content_article_preview-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

.content_article_preview-text {
  padding: 2rem;
  flex: 3;
 }

.content_article_preview-text_header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.content_article_preview-text p:first-of-type::after {
  content: "...";
}

.content_article_preview-text h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
 }

.content_article_preview-text h3:hover{
  background-color: rgb(235, 235, 235);
}

.preview-hidden-text img {
  width: 33%;
  margin: 0 1rem 0 0;
  float: left;
}

.preview-hidden-text p:nth-child(even) img{
  float: right;
  margin: 0 0 0 1rem;
}

.preview-hidden-text p {
  margin: 1rem 0;
  overflow: auto;
}

.about-us {
  display: flex;
  justify-content: space-between;
  padding: 5% 10%;
  box-sizing: border-box;
}

.about-us_user-card {
  display: flex;
  width: 30%;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  background: white;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px gray;
}

.about-us_user-card:hover {
  transform: scale(1.06);
}

.about-us_user-card_img-container {
  width: 9rem;
  height: 9rem;
}

.about-us_user-card h3 {
  font-size: 1.2rem;
}

.about-us_user-card ul {
  color: gray;
}

.about-us_user-card button {
  border: 1px solid gray;
  border-radius: 0.5rem;
  background: none;
  padding: 0.5rem 2rem;
  outline: none;
}

.about-us_user-card button:hover {
  background: lightskyblue;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 3px 3px lightblue;
  color: white;
}

.about-us_user-card * {
  margin: 0.5rem 0;
}

.about-us_user-card_img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 2px gray;
}

/*Footer section*/
footer {
  display: flex;
  align-items: flex-start;
  padding: 2rem 10%;
  background-color: #151515;
  color: gray;
  line-height: 2rem;
}

footer div {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

footer h3 {
  color: var(--main-orange);
}

@keyframes appearAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Rules for low screen*/
@media screen and (max-width: 900px) {
  /*Scroll top button*/
  .ask-us-button {
    margin: 0.5rem;
    font-size: 2.7rem;
  }
  
  .move-top-button {
    margin: 0.5rem;
    font-size: 2rem;
    width: 2.4rem;
    border: 1.5px solid var(--sub-text-color);
  }

  /*Top menu section*/
  .top-menu-container {
    justify-content: space-between;
    padding: 0.5rem 10%;
  }
  .top-menu_nav {
    display: none;
  }

  .top-menu_nav-open-button {
    display: block;
  }

  /*Social info section*/
  .social-info {
    flex-flow: column wrap;
    top: calc(100vh - 4rem);
  }

  /*Content section*/

  .content {
    padding: 0.2rem;
  }

  .content_article {
    flex-flow: column nowrap;
  }

  .content_article-fullsize {
    margin: 1rem;
  }

  .preview-hidden-text img {
    display: block;
    width: 100%;
    float: none;
  }

  .about-us {
    width: 100%;
    flex-flow: column wrap;
    padding: 5% 10%;
  }

  .about-us_user-card {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  /*Footer section*/
  footer {
    flex-flow: column wrap;
    align-items: flex-start;
  }

  footer div{
    margin-top: 2rem;
    align-items: flex-start;
  }
}
